.contactinput__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 700px) {
    .contactinput__container {
        flex-direction: column;
    }
}