.footer-container {
    bottom: 0;
    background-color: dimgray;
    margin: 0px;
    position: fixed;
    width: 100vw;
}
.footer-container__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}